<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204572052633-gb20cjq67tl26s5ni3u0373tbohdiarm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204572052633-gb20cjq67tl26s5ni3u0373tbohdiarm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>204572052633-fefadl6q8u6lcq3rk9b92kq9jbr9nhja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_PT1EHC806D_WlWwa2OqPob0bHHAOTjg</string>
	<key>GCM_SENDER_ID</key>
	<string>204572052633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oficihome.off</string>
	<key>PROJECT_ID</key>
	<string>oficihome-95d2b</string>
	<key>STORAGE_BUCKET</key>
	<string>oficihome-95d2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204572052633:ios:1815a50bfc754d3617bc08</string>
	<key>DATABASE_URL</key>
	<string>https://oficihome-95d2b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>