<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>Buy&amp;Bye</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Buy&amp;Bye</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb393252715475917</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.731468105971-a46m5ndjt4603j3cd74tcl1f5f187ts0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>393252715475917</string>
	<key>FacebookClientToken</key>
	<string>08debc838e78a1a655fa52f70662fa71</string>
	<key>FacebookDisplayName</key>
	<string>Buy&amp;Bye</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Bye&amp;Bye souhaite accéder à votre galerie de medias afin de pouvoir envoyer n'importe quelle photo/video à un commerçant</string>
	<key>NSCameraUsageDescription</key>
	<string>Bye&amp;Bye souhaite accéder à votre caméra afin de pouvoir envoyer n'importe quelle photo à un commerçant</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cette application nécessite la localisation lorsque l'application est ouverte mais aussi en arrière-plan</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Cette application nécessite la localisation lorsque l'application est ouverte</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cette application nécessite la localisation lorsque l'application est ouverte mais aussi en arrière-plan</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Bye&amp;Bye souhaite utiliser votre microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bye&amp;Bye souhaite accéder à votre galerie de photographies afin de pouvoir envoyer n'importe quelle photo à un commerçant</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
