<%- include('../includes/head.ejs'); %>

<h1>Test home</h1>

<form action="/api/logout" method="post">
  <button name="logout" id="logout">Deconnexion</button>
</form>


<%- include('../includes/scripts.ejs'); %>
